
nav{
    box-shadow: 0 3px 50px rgba(0,0,0,.9);
    background-color: black;
}
.jum1{
    padding: 0px;
}
.jumbotron{
    background-image:url(https://images.pexels.com/photos/4846377/pexels-photo-4846377.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=900);
    height: 80vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0px;
}
.container{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
}
.footer{
    height:100px;
    color: white;
    background-color: black;
}