
nav{
    box-shadow: 0 3px 50px rgba(0,0,0,.9);
    background-color: black;
}
.jum1{
    padding: 0px;
}
.jumbotron{
    background-image:url(https://images.pexels.com/photos/4846377/pexels-photo-4846377.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=900);
    height: 80vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0px;
}
.container{
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
}
.img-container{
    background-color: rgba(0,0,0,0.5);
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
}
.img1{
    background-image: url(https://images.pexels.com/photos/7002968/pexels-photo-7002968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=400);
    background-repeat: no-repeat;
    padding:0;
    margin:0px;

}
.img2{
    background-image: url(https://images.pexels.com/photos/167701/pexels-photo-167701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=400);
    background-repeat: no-repeat;
    padding:0;
    margin:0px;
}
.img3{
    background-image: url(https://images.pexels.com/photos/2487443/pexels-photo-2487443.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=400);
    background-repeat: no-repeat;
    padding:0;
    margin:0px;
}
.img4{
    background-image: url(https://images.pexels.com/photos/14287/pexels-photo-14287.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=400);
    background-repeat: no-repeat;
    padding:0;
    margin:0px;
}

.footer{
    height:100px;
    color: white;
    background-color: black;
}